<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head th:include="layout/layout :: htmlhead" th:with="title='首页'">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="tpl-content-wrapper">
    <div class="container-fluid am-cf">
      <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 首页
                <small>报告</small>
            </div>
        </div>
      </div>
    </div>
    <div class="row-content am-cf">
      <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-12">
          <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">电厂上报数据</div>
              <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
              </div>
            </div>
            <div class="widget-body  am-fr">
              <div class="am-scrollable-horizontal ">
                <div id="example-r_wrapper" class="dataTables_wrapper am-datatable am-form-inline dt-amazeui no-footer"><table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer" id="example-r" role="grid" style="width: 100%;" width="100%">
                  <thead>
                  <tr role="row">
                    <th class="sorting_asc">上报数据</th>
                    <th class="sorting_asc">上报时间数据</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- more data -->
                  <tr th:each="meter,stat1 : ${meterData}" class="even gradeC odd" role="row">
                    <td class="sorting_1" th:text="${meter.dataStr}"></td>
                    <td th:text="${#dates.format(meter.reportDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                  </tr></tbody>
                </table></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">用户上报数据</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-scrollable-horizontal ">
                            <div class="dataTables_wrapper am-datatable am-form-inline dt-amazeui no-footer">
                                <table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer"
                                       id="example-r" role="grid" style="width: 100%;" width="100%">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc">上报数据</th>
                                        <th class="sorting_asc">上报时间数据</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- more data -->
                                    <tr th:each="meter,stat1 : ${meterData1}" class="even gradeC odd" role="row">
                                        <td class="sorting_1" th:text="${meter.dataStr}"></td>
                                        <td th:text="${#dates.format(meter.reportDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</th:block>
</body>
</html>
<script type="text/javascript">
  $(function() {
    var echartsC = echarts.init(document.getElementById('tpl-echarts'));

    var optionC = {
      title: {
        text: '当前人员在职情况',
        subtext: '状态情况',
        x: 'center'
      },
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        x: 'left',
        data: ['在岗', '离职', '退体', '延退', '返聘']
      },
      series: [
        {
          type: 'pie',
          radius: '55%',
          center: ['50%', '60%'],
          data: [
            {value: 335, name: '在岗'},
            {value: 310, name: '离职'},
            {value: 234, name: '退体'},
            {value: 135, name: '延退'},
            {value: 45, name: '返聘'}
          ]
        }
      ]
    };
    echartsC.setOption(optionC);
  });
</script>