<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{stat_layout/layout}">
        <head th:include="stat_layout/layout :: htmlhead" th:with="title='热快送运营监控平台'">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="am-g doc-am-g row">
        <div class="am-u-lg-4">
            <div class="am-g" style="height:412px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <div class="am-fl">
                        <a href="javascript:;"><img src="/img/logoa.png" alt=""></a>
                    </div>
                    <div class="am-text-xxxl" style="font-size: 8.2rem;">晋中热快送能源有限公司<br/>热快送运营监控平台</div>
                </div>
            </div>
            <div class="am-g" style="height:100px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <p id="allHeatSum" class="am-text-xxxl am-lg-text-center" th:text="'总热量:'+${heatSum}+'MWH'"></p>
                </div>
            </div>
            <div class="am-g" style="height:680px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <div id="c1" class="am-margin"></div>
                </div>
            </div>
        </div>
        <div class="am-u-lg-4">
            <div class="am-g" style="height:580px;">
                <div class="am-u-lg-6 am-center am-padding-xl">
                    <p class="am-text-xxxl" id="user1"></p>
                    <div id="c2" class="am-margin"></div>
                </div>
                <div class="am-u-lg-6 am-center am-padding-xl">
                    <p class="am-text-xxxl" id="user2"></p>
                    <div id="c3" class="am-margin"></div>
                </div>
            </div>
            <div class="am-g" style="height:580px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <p class="am-text-xxxl">减少碳排放量</p>
                    <div id="c4" class="am-margin"></div>
                </div>
            </div>
        </div>
        <div class="am-u-lg-4">
            <div class="am-g" style="height:580px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <p class="am-text-xxxl">司机路线</p>
                    <table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer"
                           role="grid" style="width: 98%;" width="98%" id="driver_table">
                        <thead>
                        <tr role="row">
                            <th>车牌</th>
                            <th>司机</th>
                            <th>状态</th>
                            <th>路线</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="am-g" style="height:580px;">
                <div class="am-u-lg-12 am-center am-padding-xl">
                    <p class="am-text-xxxl">个人总费用</p>
                    <table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer"
                           id="free_table" role="grid" style="width:98%;" width="98%">
                        <thead>
                        <tr role="row">
                            <th>用户名称</th>
                            <th>当前费用</th>
                            <th>总费用</th>
                            <th>交易时间</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
<script id="driver" type="text/html">
    <tbody>
    #{for(var i = 0; i < drivers.length; i++) {}#
    <tr>
        <td>#{:=drivers[i].driverName}#</td>
        <td>#{:=drivers[i].plateNumber}#</td>
        <td>#{:=drivers[i].state}#</td>
        <td>#{:=drivers[i].route}#</td>
    </tr>
    #{}}#
    </tbody>
</script>
<script id="free" type="text/html">
    <tbody>
    #{for(var i = 0; i < free.length; i++) {}#
    <tr>
        <td>#{:=free[i].company}#</td>
        <td>#{:=free[i].price}#元</td>
        <td>#{:=free[i].allPrice}#元</td>
        <td>#{:=free[i].updateDate}#</td>
    </tr>
    #{}}#
    </tbody>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var users = [[${users}]];

    /*]]>*/
</script>
<script type="text/javascript">
    var _ctx = $("meta[name='ctx']").attr("content");

    if (!_ctx) {
        _ctx = "";
    }
    $(function () {
        //const { Global } = G2; // 获取 Global 全局对象
        //Global.setTheme('dark'); // 传入值为 'default'、'dark' 的一种，如果不是，那么使用 default 主题。
        const {Global} = G2; // 获取 Global 全局对象
        Global.setTheme('dark');
        const theme = G2.Util.deepMix({
            tooltip: {
                ['g2-tooltip']: {
                    color: '#333'
                }
            }
        }, G2.Theme);

        G2.Global.setTheme(theme); // 将主题设置为用户自定义的主题

        var data = [];

        var chart = new G2.Chart({
            container: 'c1',
            forceFit: true,
            padding: 50,
            height: 680
        });
        chart.source(data,{
            "heat":{
                alias:"热量"
            }
        });
        chart.scale('time', {
            range: [0, 1]
        });

        chart.tooltip({
            crosshairs: {
                type: 'line'
            }
        });
        chart.axis('heat', {
            label: {
                formatter: function formatter(val) {
                    return val + 'MWH';
                }
            }
        });
        chart.legend('heat', {title: "热量"});
        chart.areaStack().position('time*heat').shape('smooth');
        chart.lineStack().position('time*heat').shape('smooth').size(2);
        chart.render();

        var data1 = [];

        var chart1 = new G2.Chart({
            container: 'c2',
            forceFit: true,
            padding: 50,
            height: 500
        });
        chart1.source(data1,{
            "heat":{
                alias:"热量"
            },
            "time":{
                range:[0.05, 1]
            }
        });

        chart1.legend('heat', {title: "热量"});
        chart1.interval().position('time*heat');
        chart1.render();

        var data2 = [];

        var chart2 = new G2.Chart({
            container: 'c3',
            forceFit: true,
            padding: 50,
            height: 500
        });
        chart2.source(data2,{
            "heat":{
                alias:"热量"
            },
            "time":{
                range:[0.05, 1]
            }
        });

        chart2.interval().position('time*heat').adjust();
        chart2.render();

        var data3 = [];

        var chart3 = new G2.Chart({
            container: 'c4',
            padding: 50,
            forceFit: true,
            height: 500
        });
        chart3.source(data3,{
            "heat":{
                alias:"碳排放"
            }
        });
        chart3.tooltip({
            crosshairs: {
                type: 'line'
            }
        });
        chart3.axis('heat', {
            label: {
                formatter: function formatter(val) {
                    return val+"KG";
                }
            }
        });
        chart3.legend('heat', {title: "减少碳排放量"});
        chart3.areaStack().position('time*heat').shape('smooth');
        chart3.lineStack().position('time*heat').shape('smooth').size(2);
        chart3.render();

        heatLine();
        setInterval(function () {
            heatLine();
        }, 10000);

        co2Line();
        setInterval(function () {
            co2Line();
        }, 10000);

        userLine();
        setInterval(function () {
            userLine();
        }, 10000);

        userTable();
        setInterval(function () {
            userTable();
        }, 10000);


        function heatLine(){
            $.getJSON(_ctx + '/admin/stat/heat/all', function (data) {
                $("#allHeatSum").html('总热量:'+data+'MWH');
            });
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/heat/line', function (data) {
                chart.changeData(data, {
                    time: {
                        type: 'linear',
                        tickInterval: 50
                    }
                });
            });
        }

        function co2Line() {
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/co2/line', function (data) {
                chart3.changeData(data, {
                    time: {
                        type: 'linear',
                        tickInterval: 50
                    }
                });
            });
        }

        function userLine() {
            var firstItem  = users.shift();
            if(firstItem) {
                $("#user1").html(firstItem.company);
                //动态执行数据
                $.getJSON(_ctx + '/admin/stat/user/heat/line', {userId: firstItem.id}, function (data) {
                    chart1.changeData(data, {
                        time: {
                            type: 'linear',
                            tickInterval: 50
                        }
                    });
                });
            }

            var secondItem  = users.shift();
            if(secondItem){
                $("#user2").html(secondItem.company);
                //动态执行数据
                $.getJSON(_ctx + '/admin/stat/user/heat/line',{userId:secondItem.id}, function (data) {
                    chart2.changeData(data, {
                        time: {
                            type: 'linear',
                            tickInterval: 50
                        }
                    });
                });
            }
            users.push(firstItem,secondItem);
        }

        function userTable() {
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/driver', function (data) {
                template.config({sTag:"#{",eTag:"}#",compress: true});
                var tpl = document.getElementById('driver').innerHTML;
                $('#driver_table tbody').remove();
                $('#driver_table').append(template(tpl,{'drivers':data}));
            });
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/free', function (data) {
                template.config({sTag:"#{",eTag:"}#",compress: true});
                var tpl = document.getElementById('free').innerHTML;
                $('#free_table tbody').remove();
                $('#free_table').append(template(tpl,{'free':data}));
            });
        }
    });

</script>