<!DOCTYPE html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{stat_layout/layout}">
<head th:include="stat_layout/layout :: htmlhead" th:with="title='热快送运营监控平台'">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="data">
        <div class="data-title">
            <div class="title-left fl"></div>
            <div class="title-center fl" style="font-size:32px;color:#FFF;text-align:center">热快送运营监控平台</div>
            <div class="title-right fr"></div>
        </div>
        <div class="data-content">
            <div class="con-left fl">
                <div class="left-top">
                    <div class="info">
                        <div class="info-title">实时统计</div>
                        <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                        <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                        <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                        <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                        <div class="info-main">
                            <div class="info-1">
                                <div class="info-img fl">
                                    <img src="../img/info-img-3.png" th:src="@{/img/info-img-3.png}" alt="">
                                </div>
                                <div class="info-text fl">
                                    <p>平台运行时间</p>
                                    <p id="runTime"></p>
                                </div>
                            </div>
                            <div class="info-2">
                                <div class="info-img fl">
                                    <img src="img/info-img-2.png" th:src="@{/img/info-img-2.png}" alt="">
                                </div>
                                <div class="info-text fl">
                                    <p>总热量(MHK)</p>
                                    <p id="allHeatSum" th:text="${heatSum}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-bottom">
                        <div class="title">输出热量(日)</div>
                        <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                        <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                        <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                        <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                        <div id="c1"></div>
                    </div>
                </div>
                <div class="left-bottom">
                    <div class="title">输出热量(总)</div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="c2"></div>
                </div>
            </div>
            <div class="con-center fl">
                <div class="map-num">
                    <p>时实减少碳排放量</p>
                    <div class="num" id="allCOSum"></div>
                </div>
                <div class="cen-top" id="map"></div>
                <div class="cen-bottom">
                    <div class="title" id="user1"></div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_30"></div>
                </div>
                <div class="cen-bottom">
                    <div class="title" id="user2"></div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_31"></div>
                </div>
                <div class="cen-bottom" >
                    <div class="title" id="user3"></div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_32"></div>
                </div>
            </div>
            <div class="con-right fr">
                <div class="right-top">
                    <div class="title">天气</div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_4" class="charts" style="text-align:center;">
                        <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=64" width="540" height="291" allowtransparency="true" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="right-center">
                    <div class="title">司机路线</div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_5" class="charts" style="color:#fff;text-align:center">
                        <table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer"
                               role="grid" style="width: 98%;font-size:16px;" width="94%" id="driver_table">
                            <thead>
                            <tr role="row">
                                <th>车牌</th>
                                <th>司机</th>
                                <th>状态</th>
                                <th>路线</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="right-bottom">
                    <div class="title" id="allFree"></div>
                    <img src="../img/bj-1.png" th:src="@{/img/bj-1.png}" alt="" class="bj-1">
                    <img src="../img/bj-2.png" th:src="@{/img/bj-2.png}" alt="" class="bj-2">
                    <img src="../img/bj-3.png" th:src="@{/img/bj-3.png}" alt="" class="bj-3">
                    <img src="../img/bj-4.png" th:src="@{/img/bj-4.png}" alt="" class="bj-4">
                    <div id="echarts_6" class="charts" style="color:#fff;text-align:center">
                        <table class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer"
                               id="free_table" role="grid" style="width:98%;font-size:16px;" width="94%;">
                            <thead>
                            <tr role="row">
                                <th>用户名称</th>
                                <th>当前费用</th>
                                <th>总费用</th>
                                <th>交易时间</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
<script id="driver" type="text/html">
    <tbody>
    #{for(var i = 0; i < drivers.length; i++) {}#
    <tr style="color:rgb(244,241,134);">
        <td>#{:=drivers[i].driverName}#</td>
        <td>#{:=drivers[i].plateNumber}#</td>
        <td>#{:=drivers[i].state}#</td>
        #{if (drivers[i].route && drivers[i].state == '运送中'){}#
        <td>#{:=drivers[i].route}#</td>
        #{}else{}#
        <td>瑞光电厂</td>
        #{}}#
    </tr>
    #{}}#
    </tbody>
</script>
<script id="free" type="text/html">
    <tbody>
    #{for(var i = 0; i < free.length; i++) {}#
    <tr style="color:rgb(252,199,217);">
        <td style="color:rgb(244,241,134);">#{:=free[i].company}#</td>
        <td>#{:=free[i].price}#元</td>
        <td>#{:=free[i].allPrice}#元</td>
        <td>#{:=free[i].updateDate}#</td>
    </tr>
    #{}}#
    </tbody>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var users = [[${users}]];

    /*]]>*/
</script>
<script type="text/javascript">
    var _ctx = $("meta[name='ctx']").attr("content");

    if (!_ctx) {
        _ctx = "";
    }

    $(function () {

        var data = [];

        var chart = new G2.Chart({
            container: 'c1',
            forceFit: true,
            padding: [10,280,10,0],
            height: 235
        });
        chart.source(data, {
            "heat": {
                alias: "热量"
            }, "tableNumber": {
                type: "cat"
            },
            "percent": {
                formatter: function formatter(val) {
                    val = (val * 100).toFixed(2) + '%';
                    return val;
                }
            }
        });
        chart.coord('theta', {
            radius: 1,
            innerRadius: 0.5
        });

        chart.legend({
            position: 'right-center',
            textStyle:{
                fontSize: '16'
            }
        });

        chart.intervalStack().position('percent').color('tableNumber');
        chart.render();

        var data1 = [];

        var chart1 = new G2.Chart({
            container: 'c2',
            forceFit: true,
            padding: [55,0,0,0],
            height: 235
        });
        chart1.source(data1, {
            "heat": {
                alias: "热量"
            },
            "tableNumber": {
                alias:"表号",
                type: "cat"
            },
            "percent": {
                formatter: function formatter(val) {
                    val = (val * 100).toFixed(2) + '%';
                    return val;
                }
            }
        });
        chart1.coord('theta', {
            radius: 1,
            innerRadius: 0.3,
            startAngle: Math.PI *2,
            endAngle: Math.PI
        });
        chart1.legend({
            position: 'top-center',
            textStyle:{
                fontSize: '16'
            }
        });
        chart1.intervalStack().position('percent').color('tableNumber');
        chart1.render();

        var datau1 = new G2.Chart({
            container: 'echarts_30',
            forceFit: true,
            padding: [10,0,50,50],
            height: 220
        });
        datau1.source(data,{
            "heat":{
                alias:"热量"
            },
            "time":{
                range:[0.05, 0.95]
            }
        });

        datau1.legend('heat', {title: "热量"});
        datau1.interval().position('time*heat').color('heat').size(30);
        datau1.render();

        var datau2 = new G2.Chart({
            container: 'echarts_31',
            forceFit: true,
            padding: [10,0,50,50],
            height: 220
        });
        datau2.source(data,{
            "heat":{
                alias:"热量"
            },
            "time":{
                range:[0.05, 0.95]
            }
        });

        datau2.legend('heat', {title: "热量"});
        datau2.interval().position('time*heat').color('heat').size(30);
        datau2.render();

        var datau3 = new G2.Chart({
            container: 'echarts_32',
            forceFit: true,
            padding: [10,0,50,50],
            height: 220
        });
        datau3.source(data,{
            "heat":{
                alias:"热量"
            },
            "time":{
                range:[0.05, 0.95]
            }
        });

        datau3.legend('heat', {title: "热量"});
        datau3.interval().position('time*heat').color('heat').size(30);
        datau3.render();

        function heatLine() {
            $.getJSON(_ctx + '/admin/stat/heat/all', function (data) {
                $("#allHeatSum").html(data);

                var coData = formatNumber((data * 278*0.785).toFixed(2));
                var b = coData.split('');
                $("#allCOSum").html("");
                b.forEach(function(n){
                    if(n == "." || n == ","){
                        $("#allCOSum").append("<span style='background-color: transparent;width: 30px'>"+n+"</span>");
                    }else{
                        $("#allCOSum").append("<span>"+n+"</span>");
                    }
                });

            });
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/heat/table/line1', function (data) {

                const ds = new DataSet();
                const dv = ds.createView().source(data);
                dv.transform({
                    type: 'filter',
                    callback(row) {
                        return row.time == formatDate(new Date()) && row.heat > 0 && row.tableNumber;
                    }
                }).transform({
                    type: 'percent',
                    field: 'heat',
                    dimension: 'tableNumber',
                    as: 'percent'
                });
                chart.changeData(dv);
            });

            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/heat/table/line', function (data) {
                const ds = new DataSet();
                const dv = ds.createView().source(data);
                dv.transform({
                    type: 'map',
                    callback(row) {
                        row.year = row.time.substr(0,4);
                        return row;
                    }
                }).transform({
                    type: 'filter',
                    callback(row) {
                        return row.heat > 0  && row.tableNumber;
                    }
                }).transform({
                    type: 'percent',
                    field: 'heat',
                    dimension: 'tableNumber',
                    as: 'percent'
                });
                chart1.changeData(dv);
            });
        }


        function userLine() {
            var firstItem = users.shift();
            if (firstItem) {
                $("#user1").html(firstItem.company);
                //动态执行数据
                $.getJSON(_ctx + '/admin/stat/user/heat/line', {userId: firstItem.id}, function (data) {
                    datau1.changeData(data);
                });
            }
            var secondItem = users.shift();
            if (secondItem) {
                $("#user2").html(secondItem.company);
                //动态执行数据
                $.getJSON(_ctx + '/admin/stat/user/heat/line', {userId: secondItem.id}, function (data) {
                    datau2.changeData(data);
                });
            }

            var secondItem1 = users.shift();
            if (secondItem1) {
                $("#user3").html(secondItem1.company);
                //动态执行数据
                $.getJSON(_ctx + '/admin/stat/user/heat/line', {userId: secondItem1.id}, function (data) {
                    datau3.changeData(data);
                });
            }
            users.push(firstItem, secondItem, secondItem1);
        }

        function weather() {
            $.getJSON('http://wthrcdn.etouch.cn/weather_mini?city=北京市',{}, function (data) {
                console.log(data);
            });

        }
        function userTable() {
            weather();
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/driver', function (data) {
                template.config({sTag:"#{",eTag:"}#",compress: true});
                var tpl = document.getElementById('driver').innerHTML;
                $('#driver_table tbody').remove();
                $('#driver_table').append(template(tpl,{'drivers':data}));
            });
            //动态执行数据
            $.getJSON(_ctx + '/admin/stat/free', function (data) {
                template.config({sTag:"#{",eTag:"}#",compress: true});
                var tpl = document.getElementById('free').innerHTML;

                var allFree = 0;

                for(var i = 0; i < data.length; i++) {
                    allFree+= 0+  parseFloat(data[i].allPrice.replace(",",""));
                }

                $("#allFree").html("<p style='color:rgb(252,199,217);'>个人总费用："+allFree+"(元)</p>");
                $('#free_table tbody').remove();
                $('#free_table').append(template(tpl,{'free':data}));
            });
        }

        userLine();
        setInterval(function () {
            userLine();
        }, 10000);

        heatLine();
        setInterval(function () {
            heatLine();
        }, 10000);

        userTable();
        setInterval(function () {
            userTable();
        }, 10000);
    });



    function NewDate(str) {
        str = str.split('-');
        var date = new Date();
        date.setUTCFullYear(str[0], str[1] - 1, str[2]);
        date.setUTCHours(0, 0, 0, 0);
        return date;
    }
    function showsectime() {
        var birthDay = NewDate("2018-2-2");
        var today = new Date();
        var timeold = today.getTime() - birthDay.getTime();
        var sectimeold = timeold / 1000
        var secondsold = Math.floor(sectimeold);
        var msPerDay = 24 * 60 * 60 * 1000;
        var e_daysold = timeold / msPerDay;
        var daysold = Math.floor(e_daysold);
        var e_hrsold = (daysold - e_daysold) * -24;
        var hrsold = Math.floor(e_hrsold);
        var e_minsold = (hrsold - e_hrsold) * -60;
        var minsold = Math.floor((hrsold - e_hrsold) * -60);
        var seconds = Math.floor((minsold - e_minsold) * -60).toString();
        document.getElementById("runTime").innerHTML = daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
        setTimeout(showsectime, 1000);
    }

    showsectime();
    function formatDate(time) {
        var date = new Date(time);
        var year = date.getFullYear(), month = date.getMonth() + 1,
                day = date.getDate(), hour = date.getHours(), min = date.getMinutes(), sec = date.getSeconds();
        var newTime = year + '-' + month + '-' + day;
        return newTime;
    }

    map();
    function map() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('map'));

        var nameColor = " rgb(55, 75, 113)"
        var name_fontFamily = '宋体'
        var name_fontSize = 35
        var mapName = 'china'
        var data = []
        var geoCoordMap = {};
        var toolTipData = [];

        /*获取地图数据*/
        myChart.showLoading();
        var mapFeatures = echarts.getMap(mapName).geoJson.features;
        myChart.hideLoading();
        mapFeatures.forEach(function (v) {
            // 地区名称
            var name = v.properties.name;
            // 地区经纬度
            geoCoordMap[name] = v.properties.cp;
            data.push({
                name: name,
                value: Math.round(Math.random() * 100 + 10)
            })
            toolTipData.push({
                name: name,
                value: [{
                    name: "车型一",
                    value: Math.round(Math.random() * 100 + 10) + '辆'
                },
                    {
                        name: "车型二",
                        value: Math.round(Math.random() * 100 + 10) + '辆'
                    },
                    {
                        name: "车型三",
                        value: Math.round(Math.random() * 100 + 10) + '辆'
                    },
                    {
                        name: "车型四",
                        value: Math.round(Math.random() * 100 + 10) + '辆'
                    }
                ]
            })
        });

        var max = 480,
                min = 9; // todo
        var maxSize4Pin = 50,
                minSize4Pin = 20;

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value),
                    });
                }
            }
            return res;
        };

        option = {
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (typeof(params.value)[2] == "undefined") {
                        var toolTiphtml = ''
                        for (var i = 0; i < toolTipData.length; i++) {
                            if (params.name == toolTipData[i].name) {
                                toolTiphtml += toolTipData[i].name + ':<br>'
                                for (var j = 0; j < toolTipData[i].value.length; j++) {
                                    toolTiphtml += toolTipData[i].value[j].name + ':' + toolTipData[i].value[j].value + "<br>"
                                }
                            }
                        }
                        console.log(toolTiphtml)
                        // console.log(convertData(data))
                        return toolTiphtml;
                    } else {
                        var toolTiphtml = ''
                        for (var i = 0; i < toolTipData.length; i++) {
                            if (params.name == toolTipData[i].name) {
                                toolTiphtml += toolTipData[i].name + ':<br>'
                                for (var j = 0; j < toolTipData[i].value.length; j++) {
                                    toolTiphtml += toolTipData[i].value[j].name + ':' + toolTipData[i].value[j].value + "<br>"
                                }
                            }
                        }
                        console.log(toolTiphtml)
                        // console.log(convertData(data))
                        return toolTiphtml;
                    }
                }
            },
            legend: {
                orient: 'vertical',
                y: 'bottom',
                x: 'right',
                data: ['credit_pm2.5'],
                textStyle: {
                    color: '#fff'
                }
            },
            visualMap: {
                show: false,
                min: 0,
                max: 600,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'], // 文本，默认为数值文本
                calculable: true,
                seriesIndex: [1],
                inRange: {
                    // color: ['#3B5077', '#031525'] // 蓝黑
                    // color: ['#ffc0cb', '#800080'] // 红紫
                    // color: ['#3C3B3F', '#605C3C'] // 黑绿
                    //  color: ['#0f0c29', '#302b63', '#24243e'] // 黑紫黑
                    // color: ['#23074d', '#cc5333'] // 紫红
                    //   color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#1488CC', '#2B32B2'] // 浅蓝
                    // color: ['#00467F', '#A5CC82','#ffc0cb'] // 蓝绿红
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    color: ['#22e5e8', '#0035f9', '#22e5e8'] // 蓝绿

                }
            },
            /*工具按钮组*/
            toolbox: {
                show: false,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {

                    dataView: {
                        readOnly: false
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            geo: {
                show: true,
                map: mapName,
                label: {
                    normal: {
                        show: false
                    },
                    emphasis: {
                        show: false
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#031525',
                        borderColor: '#097bba'
                    },
                    emphasis: {
                        areaColor: '#2B91B7'
                    }
                }
            },
            series: [{
                name: '散点',
                type: 'scatter',
                coordinateSystem: 'geo',
                data: convertData(data),
                symbolSize: function (val) {
                    return val[2] / 10;
                },
                label: {
                    normal: {
                        formatter: '{b}',
                        position: 'right',
                        show: false
                    },
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'rgba(255,255,0,0.8)'
                    }
                }
            },
                {
                    type: 'map',
                    map: mapName,
                    geoIndex: 0,
                    aspectScale: 0.75, //长宽比
                    showLegendSymbol: false, // 存在legend时显示
                    label: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: '#031525',
                            borderColor: '#3B5077',
                        },
                        emphasis: {
                            areaColor: '#2B91B7'
                        }
                    },
                    animation: false,
                    data: data
                },
                {
                    name: '点',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    symbol: 'pin', //气泡
                    symbolSize: function (val) {
                        var a = (maxSize4Pin - minSize4Pin) / (max - min);
                        var b = minSize4Pin - a * min;
                        b = maxSize4Pin - a * max;
                        return a * val[2] + b;
                    },
                    label: {

                        normal: {
                            show: false,
                            formatter: function (params) {
                                return params.data.value[2]
                            },
                            textStyle: {
                                color: '#fff',
                                fontSize: 9,
                            }
                        }
                    },
                    itemStyle: {

                        normal: {
                            color: 'rgba(255,255,0,0)', //标志颜色
                        }
                    },
                    zlevel: 6,
                    data: convertData(data),
                },
                {
                    name: 'Top 5',
                    type: 'effectScatter',
                    coordinateSystem: 'geo',
                    data: convertData(data.sort(function (a, b) {
                        return b.value - a.value;
                    }).slice(0, 5)),
                    symbolSize: function (val) {
                        return val[2] / 10;
                    },
                    showEffectOn: 'render',
                    rippleEffect: {
                        brushType: 'stroke'
                    },
                    hoverAnimation: true,
                    label: {
                        normal: {
                            formatter: '{b}',
                            position: 'right',
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,0,0.8)',
                            shadowBlur: 10,
                            shadowColor: '#05C3F9'
                        }
                    },
                    zlevel: 1
                },

            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    }

    function formatNumber(num, precision, separator) {
        var parts;
        // 判断是否为数字
        if (!isNaN(parseFloat(num)) && isFinite(num)) {
            // 把类似 .5, 5. 之类的数据转化成0.5, 5, 为数据精度处理做准, 至于为什么
            // 不在判断中直接写 if (!isNaN(num = parseFloat(num)) && isFinite(num))
            // 是因为parseFloat有一个奇怪的精度问题, 比如 parseFloat(12312312.1234567119)
            // 的值变成了 12312312.123456713
            num = Number(num);
            // 处理小数点位数
            num = (typeof precision !== 'undefined' ? num.toFixed(precision) : num).toString();
            // 分离数字的小数部分和整数部分
            parts = num.split('.');
            // 整数部分加[separator]分隔, 借用一个著名的正则表达式
            parts[0] = parts[0].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1' + (separator || ','));

            return parts.join('.');
        }
        return NaN;
    }
</script>