<!doctype html>
<html class="js cssanimations" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><!--/*@thymesVar id="title" type=""*/-->
    <th:block th:text="${title}"></th:block></title>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <meta name="description" content="统计页面">
    <meta name="keywords" content="stat">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../i/favicon.png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" href="../i/app-icon72x72@2x.png" th:href="@{/i/app-icon72x72@2x.png}">
    <link rel="stylesheet" href="../css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../css/app.css" th:href="@{/css/app.css}"/>
    <script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../js/template.js" th:src="@{/js/template.js}"></script>
    <script src="../js/example.js" th:src="@{/js/example.js}"></script>
</head>
<body class="theme-black" style="background-color:#0D0D0D" data-type="index">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- content start -->
<div class="am-g tpl-g tpl-header-navbar" style="width:4800px;height:1200px;">
    <div layout:fragment="content"></div>
</div>
<!-- content end -->
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../js/amazeui.ie8polyfill.min.js" th:src="@{/js/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!--<![endif]-->
<script src="../js/amazeui.min.js" th:src="@{/js/amazeui.min.js}"></script>
<script src="../js/app.js" th:src="@{/js/app.js}"></script>
<!-- 引入在线资源 -->

<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.3.2/dist/g2.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</body>
</html>
