<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rsd.dao.TrucksMapper">
    <select id="selectTrucksByIdle" resultType="cn.rsd.po.Trucks">
      SELECT a.* FROM trucks a WHERE a.state = 1 AND a.supply_id = #{supplyId} ORDER BY a.id
    </select>
</mapper>